<a href="https://colab.research.google.com/github/MuntahaTazeem5/Basic-Numpy-Projects/blob/main/weather_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Weather Data Analysis 🌦️**

**Problem Statement:**

You are given hourly temperature readings of a city for 30 days (720 values). Find:

The average temperature per day

The maximum and minimum temperature recorded

How many times the temperature went above 40°C

👉 Methods you’ll use:

np.reshape() (to group data into 30×24 matrix)

np.mean(axis=1)

np.max(), np.min()

Boolean indexing (arr > 40).

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("/content/temperature_data.csv", header=None)

# Convert the Temperature column to NumPy array
temps = df.iloc[:, 0].values

print("Total readings:", len(temps))
print("First 10 readings:", temps[:10])

Total readings: 5
First 10 readings: [10.5 15.1 12.7  8.9 12.3]

In [ ]:

temps_matrix = np.reshape(temps, (5, 1))

In [ ]:
print("Temperature Matrix:")
print(temps_matrix)

Temperature Matrix:
[[10.5]
 [15.1]
 [12.7]
 [ 8.9]
 [12.3]]

In [ ]:
max_temps=np.max(temps)
min_temps=np.min(temps)

In [ ]:
print("\n maximum temprerature recorded: ",max_temps)

 maximum temprerature recorded:  15.1

In [ ]:
print("\n minimum temperature recorded: ",min_temps)

 minimum temperature recorded:  8.9

In [ ]:
avg_temps_per_day=np.mean(temps_matrix,axis=1)
print("average temperature per day:")
print(avg_temps_per_day)

average temperature per day:
[10.5 15.1 12.7  8.9 12.3]

In [ ]:
count_above_40=np.sum(temps_matrix>40)
print("\n number of times temperature exceeded 40 degrees: ",count_above_40)

 number of times temperature exceeded 40 degrees:  0